@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

body {
    font-family: 'Roboto Mono', monospace;
    height: 100vh;
    padding: 105px .5rem 0;
    overflow-x: hidden;
    background-color: rgb(241, 248, 253);
    row-gap: 25px;
}

header,
main,
footer {
    width: 100%;
}

.text-red {
    color: rgb(194, 8, 8);
}

.text-green {
    color: rgb(9, 158, 9);
}

.w-100 {
    width: 100%;
}

main {
    margin: 25px auto;
}

#exit-message {
    margin: .65em auto;
}

.modal {
    background-color: rgba( 0, 0, 0, .75 );
}

#notice {
    top: 0;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
}

#notice[data-correct="true"] {
    background-color: rgb(114, 184, 9);
}

#notice[data-correct="false"] {
    background-color: rgb(112, 0, 23);
}

.tries-wrapper {
    font-size: 1.3rem;
}

#hidden-number {
    width: 140px;
    height: 140px;
    border: 2px solid rgba(0,0,0,.5);
    background-color: antiquewhite;
    font-size: 3.1rem;
    padding: .25em;
    margin-left: 0;
    margin-right: auto;
}

.guess-input {
    gap: .5rem;
}

#number {
    padding: .2em;
    height: 140px;
    width: 140px;
    font-size: 3.1rem;
    background-color: #fff;
    border: 2px solid #ccc;
}

#guess {
    font-size: 1.25rem;
    border-radius: 0;
    width: 100%;
}

#game-details {
    margin-top: 1.5rem;
}

[aria-label="Game information"] {
    row-gap: 5px;
}

.game-details-item {
    font-size: 1.2rem;
}

.game-details-item strong {
    font-size: 1.3em;
    display: block;
}

footer {
    font-size: 10px;
}

footer p:last-child {
    margin-bottom: 0;
}

@media (min-width: 768px) {

    body {
        padding: 4.6rem 2rem 0;
        height: auto;
        min-height: 100vh;
        row-gap: unset;
    }

    main {
        margin-bottom: 45px;
    }

    .tries-wrapper {
        margin-top: 15px;
    }

    #hidden-number {
        font-size: 5rem;
        width: 200px;
        height: 200px;
    }

    .guess-input {
        max-width: 200px;
        margin-bottom: unset;
    }

    #number {
        font-size: 3.5rem;
        height: 150px;
        width: 100%;
    }

    #game-details {
        margin-top: 3.8rem;
    }

    .game-details-item strong {
        display: inline;
    }

}